<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=201901092203">

</head>

<body>
    <div id="app">
        <section class="hero is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">🙌 Hands up!</h1>
                    <h2 class="subtitle">
                        Be nice and respect the queue
                    </h2>
                </div>
            </div>
        </section>
        <section class="section">
        <div class="container">
            <p>Right now you are <b>{{who}}</b></p>
            <div class="field is-grouped" id="who">
                <input class="input" v-model="newWho" v-on:keyup.enter="saveWho">
                <button class="button is-black" @click="saveWho">Save</button>
            </div>
            <div class="bd-content level" v-if="who != ''">
                <div class="level-item" >
                    <figure class="image is-128x128">
                        <a v-if="handList != null && handList.indexOf(who) != -1" v-on:click="(event) => { requestRemove(event, who, false) }">
                            <img src="/ui/imgs/gopher_handsdown.png">
                            <p class="has-text-centered">Drop hand</p>
                        </a>
                        <a v-else>
                            <img src="/ui/imgs/gopher_handsup.png" v-on:click="(event) => { add(event, who) }">
                            <p class="has-text-centered">Raise hand</p>
                        </a>
                    </figure>
                </div>
            </div>
        </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Hands up</strong> by <a href="https://www.meetup.com/pt-BR/DevOps-SRE-Porto-Alegre/">DevOps/SRE Meetup Porto Alegre</a>. 
                </p>
            </div>
        </footer>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/ui/js/app.js"></script>
</body>
</html>